@import "reset.scss";

body {
  font-family: "Lemonada", cursive;
  background-color: aliceblue;
  min-height: 100%;
}

#header,
#footer {
  text-align: center;
  text-shadow: 1px 1px 1px black;
  background-color: #02588a;
  width: 100%;
  color: white;
  padding: 20px 0;
}

#header {
  font-size: 40px;
  top: 0;
}

#content {
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;

  form {
    width: 50%;
    padding-bottom: 10px;
    margin: 20px auto;
    border-bottom: 1px ridge rgb(142, 185, 185);

    & > div {
      display: grid;
      grid-template-columns: auto auto;
      margin-bottom: 20px;
      align-items: center;

      label {
        text-align: right;
        padding-right: 20px;
      }

      input[type="text"] {
        margin-left: 20px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #02588a;
        background-color: transparent;

        &:focus,
        &:active {
          outline-color: #02588a;
        }
      }
    }

    #submit-btn {
      text-transform: uppercase;
      margin: 10px auto;
      display: block;
      border-radius: 5px;
      border: 1px solid #02588a;
      background-color: transparent;
      background-color: #02588a;
      height: 40px;
      width: 100px;
      color: #fff;
      font-weight: bold;

      &:hover,
      &:active,
      &:focus {
        border: 1px solid #5abdf7;
        outline-color: #5abdf7;
        color: #000;
        background-color: #5abdf7;
        cursor: pointer;
      }
    }
  }

  & > div {
    text-align: center;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    & > div {
      width: 200px;
      height: 300px;
      margin: 10px;
      text-align: center;

      & > p {
        height: 30px;
        overflow: hidden;
      }
      & > img {
        height: 260px;
      }
    }

    & > h3 {
      flex: 0 0 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  #content form {
    width: 90%;

    & > div {
      grid-template-columns: none;

      label {
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }
}
